*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-sec{
    height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.5)
    ), 
      url("../images/greenfarm.jpg");


    background-position: center;
    background-size: cover;
}